:host {
  display: inline-block;
  width: 300px;
  border: 1px solid var(--color);
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: Montserrat, sans-serif;
  background: var(--color);
  color: yellow;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 16px 0;
}

p {
  font-family: "Scope One", sans-serif;
  font-size: 20px;
  color: var(--color);
}
