:host {
  display: flex;
  align-items: center;
  background: black;
  border: 4px solid red;
  position: relative;
  margin: 4px;
}

:host,
img,
iframe {
  width: var(--width);
  height: var(--height);
}

iframe {
  border: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

spinner-loading::part(b1) {
  --color: white;
}
spinner-loading::part(b2) {
  --color: red;
}
spinner-loading::part(b3) {
  --color: #600;
}
spinner-loading::part(b4) {
  --color: #282828;
}
